h2{
    font-size: 35px;
    position: relative;
    text-align: center;
    margin-left: auto;
	margin-right: auto; 
    max-width: 725px;
}

.Beowulf_img{
    display: block;
    position: relative;
    width: 250px; 
    height: 250px;
    margin-left: 20px;
    margin-top: 170px;
}

.Unferth_img{
    display: block;
    position: relative;
    width: 250px; 
    height: 175 px;
    margin-top: 70px;
    margin-left: 20px;
}

#Grendel_img{
    display: block;
    position: relative;
    float: right;
    width: 250px; 
    height: 250px;
    margin-left: 1150px;
    margin-top: -550px;
}

#Grendels_mother_img{
    display: block;
    position: relative;
    float: right;
    width: 250px; 
    height: 250px;
    margin-left: 50px;
    margin-top: -250px;
}


.char_list_block{
    margin-top: -675px;
}

p.char_list{
    font-size: 20px;
    width: 50%;
    padding-left: 29%;
}

footer{
    position: relative;
    margin-top: 100px;
	clear: both;
	height: 120px;
	background-color: #4d524b;
	font-size: 15px;
    text-align: center;
	color: #f0f7ed;
}