h2{
    font-size: 40px;
    text-align: center;
    margin-left: 390px;
    max-width: 700px;
}

#Beowulf_img{
    margin-left: -120px;
    margin-top: 10px;
}

#Grendel_img{
    margin-left: 970px;
}

#Grendels_mother_img{
    margin-top: 5px;
    margin-left: 1005px;
}
p.char_list{
    font-size: 20px;
    width: 50%;
    padding-left: 29%;

}
#Beowulf{

}

#Unferth{

}
footer{
	clear: both;
	height: 120px;
	background-color: #4d524b;
	font-size: 15px;
}
footer p{
	text-align: center;
	color: #f0f7ed;
}