h2{
    font-size: 30px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    max-width: 725px;
}

p.body{
    text-align: justify ;
    font-size: 20px;
    width: 50%;
    padding-left: 29%;
}

#Heorot_img{
    display: block;
    position: relative;
    width: 300px; 
    height: 200px;
    margin-top: -210px;
}

#Beowulf_pyre_img{
    display: block;
    position: relative;
    width: 255px; 
    height: 180px;
    float:right;
    margin-top: -200px;
}

/*footer{
    margin-top: 225px;
}*/