
        body{
                margin: 0;
                padding: 0;
                font-family: 'Noto Serif', serif;
        }
        nav{
                background-color: #ef502d;
                display:block;
                padding: 20px;
                margin: 0;
        }
   .nav{
                list-style-type: none;
                float:left;
                margin-left: 40px;
                margin-top: -20px;

     }
     a{
        text-decoration: none;
        color: black;
     }
     .nav a:hover{
        color:blue;
     }
     .nav:hover{
                transform:scale(1.3);
     }
 
     .nav a:active{
        color:red;
     }

     .head{
        width: 100%;
        height: 200px;
        background-color:#fffefd;
        margin-top: 0;
        
     }
     .sidebar{
        height: 750px;
        width: 20%;
         text-align: center;
        background-color: #3399ff;
        float: left;
     }
     p.mission{
        font-size: 14px;    
     }
     .main-content{
        text-align: center;
        width: 80%;
        float: left;
        background-color:#ef502d;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:top;
        height: 750px;
     }
    .quick{
        text-align: left;
    }
    p.quick{
        text-align: left;
        margin: -3px;
        margin-left: 4px;
    }
    .colleges{
        text-align: center;
        margin-top: -185px;
    }
    p.colleges{
        margin: 5px;
    }
    .athletics{
        text-align: right;
        margin-right: 95px;
        margin-top: -164px;
    }
    p.athletics{
    overflow: visible;
    width: 255px;
    height: 150px;
    margin-left: 1255px;
    margin-top: 25px;  
    }
    .alumni{
        
    }
    p.alumni{
        width: 500px;
        margin-left: 550px;
    }
    li.vision{
        text-align: left;
    }
   .footer{
        clear: both;
        height: 200px;
        background-color: #4d524b;
   }
   .footer p{
        text-align: center;
        color: #f0f7ed;
        padding: 20px;
   }